html {
  height: 100vh;
}
body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.mainHeader li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.mainHeader {
    background-color: #111;
    padding: 0;
  }
  ul.mainHeader li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .mainContent {
    background-color: #FFF;
    padding: 20px;
  }
  .mainContent h2 {
    padding: 0;
    margin: 0;
  }
  .mainContent li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-content: space-between */
    /* max-width: 500px; */
  }
  img {
    max-width: 100%;
  }